.image {
    background-image: url(./img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: auto;
    height: 98vh;
   

}
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-size: 40px;
    margin-top: 10px;
}
.header {
    display: flex;
    margin-left: 30px;
    justify-content: space-between;
}

.abc {
    margin-right: 40px;
    display: flex;
    gap: 30px;
    margin-top: 15px;
}

.xyz {
    display: flex;
    list-style-type: none;
    gap: 30px;

}

li {
    list-style-type: none;
    color: black;
    gap: 30px;

}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: black;
    color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;

}

/* this is body  */
.main {
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
    line-height: 40px;
}

.one {
    font-size: 80px;
}
p{
    font-size: 15px;
    letter-spacing: normal;
}

@media screen and (max-width:1024px) {

    /* body */
    .main .one {
        font-size: 50px;
    }

    body {
       background-size: cover;
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width:786px) {

    /* header */
    .xyz {
        display: none;
    }

    .main .one {
        font-size: 30px;
    }

    .main .p {
        font-size:10px;
    }
    
}
@media screen and (max-width:550px) {

    /* header */
    .xyz {
        display: none;
    }

    .main .one {
        font-size: 30px;
    }

    .main .p {
        font-size:8px;
        word-wrap: break-word;
    }
   
.header h1{
    font-size: 25px;
    margin-top: 10px;
}

}

